/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
assignment-1.1/movielist/target
assignment-2.1/common-util/target
assignment-2.1/common-util/target
assignment-2.1/common-util/target
assignment-3.1/common-util/target
assignment-3.1/common-util/target/
assignment-3.1/common-util/target
assignment-3.2/common-util/target/common-util-0.0.1-SNAPSHOT.jar
assignment-3.2/common-util/target
